body{
    background-color: rgb(150,150,150);
    margin:0px;
    padding:0px;
}
th{
    padding: 5px;
    border: 2px solid black;
}
a:link{
    text-decoration: none;
}
.header{
    background-color: rgb(175,175,175);
    color:rgb(200,10,10);

    text-align: center;
    font-family: sans-serif;

    padding: 20px;
}
.headtable{
    background-color: rgb(200,200,200);

    text-align: center;
    font-family: Papyrus,sans-serif;
    text-decoration: none;

    padding:10px;
}
.paragraph{
    color:rgb(200,10,10);
    background-color: rgb(225,225,225);

    font-family: sans-serif;

    padding: 10px;
}
.footer{
    background-color: rgb(175,175,175);
    color:rgb(200,10,10);

    text-align: center;
    font-family: sans-serif;
    font-size: 24px;

    padding: 5px;
}
.footer-table
{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
#linkedin{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#facebook{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
