a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

body{
    background-image: url("iu.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(150,150,150);
    margin:0px;
    padding:0px;
}
th{
    background-image: url("wallpaper.png");
    padding: 5px;
    border: 2px solid black;
}
a:link{
    text-decoration: none;
}
.header{
    background-image: url("iu1.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(200,200,200);
    color:rgb(240,240,240);

    text-align: center;
    font-family: sans-serif;

    padding: 20px;
}
.headtable{
    background-image: url("iu6.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(175,175,175) ;
    color:rgb(240,240,240);
    text-align: center;
    font-family: Calibri-Light,sans-serif;
    text-decoration: none;
    border-spacing: 40px;
    padding:20px;
}


.paragraph{
    opacity: 0.75;
    filter: alpha(opacity=40);

    background-image: url("IMG_9297 3.png");
    background-attachment: fixed;
    background-size: cover;
    color:rgb(240,240,240);
    background-color: rgb(225,225,225);

    font-family: sans-serif;

    padding: 10px;
}
.footer{

    background-image: url("iu4.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(175,175,175);
    color:rgb(240,240,240);

    text-align: center;
    font-family: sans-serif;
    font-size: 16px;

    padding: 5px;
}
.footer-table
{
    margin-right: auto;
    margin-left: auto;
    border-spacing: 20px;
    /* margin-right: auto; */
    padding: 10px;
}
#linkedin{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#facebook{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#gmail{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#icon{
    margin-right: auto;
    border-radius: 0%;
    width: 50px;
    height: 50px;

}
#back{


    background-color: rgb(175,175,175);
    padding: 10px;
    font-family: sans-serif;
}
/* #homeimage{
    opacity: 100;
    filter: alpha(opacity=0);
} */
