/* body {

    color:rgb(150,10,10);
}
h1{
    color:rgb(150,10,10);
} */
body{
    background-color: rgb(150,150,150);
}
.header{
    background-color: rgb(200,200,200);
    color:rgb(150,10,10);
    
}
.paragraph{


    color:rgb(150,10,10);
    background-color: rgb(225,225,225);

}
.footer{
    background-color: rgb(200,200,200);
    color:rgb(150,10,10);
}
