body{
    background-color: rgb(150,150,150);
    margin:0px;
    padding:0px;
}
th{
    padding: 5px;
    border: 2px solid black;
}
a:link{
    text-decoration: none;
}
.header{
    background-color: rgb(200,200,200);
    color:rgb(200,10,10);

    text-align: center;
    font-family: sans-serif;

    padding: 20px;
}
.headtable{
    background-color: rgb(175,175,175) ;
    color: rgb(50,50,50);
    text-align: center;
    font-family: Calibri-Light,sans-serif;
    text-decoration: none;
    border-spacing: 40px;
    padding:20px;
}
.paragraph{
    color:rgb(200,10,10);
    background-color: rgb(225,225,225);

    font-family: sans-serif;

    padding: 10px;
}
.footer{
    background-color: rgb(175,175,175);
    color:rgb(200,10,10);

    text-align: center;
    font-family: sans-serif;
    font-size: 16px;

    padding: 5px;
}
.footer-table
{
    margin-right: auto;
    margin-left: auto;
    border-spacing: 20px;
    /* margin-right: auto; */
    padding: 10px;
}
#linkedin{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#facebook{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#gmail{
    border-radius: 0%;
    width: 25px;
    height: 25px;
}
#icon{
    margin-right: auto;
    border-radius: 0%;
    width: 50px;
    height: 50px;

}
#back{


    background-color: rgb(175,175,175);
    padding: 10px;
    font-family: sans-serif;
}
